<launch>
  <group ns="drive0">
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver">
      <param name="port" value="/dev/drive0" />
      <param name="baud" value="115200" />
    </node>
  </group>

  <group ns="drive1">
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver">
      <param name="port" value="/dev/drive1" />
      <param name="baud" value="115200" />
    </node>
  </group>

  <group ns="drive2">
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver">
      <param name="port" value="/dev/drive2" />
      <param name="baud" value="115200" />
    </node>
  </group>

  <group ns="drive3">
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver">
      <param name="port" value="/dev/drive3" />
      <param name="baud" value="115200" />
    </node>
  </group>

  <group ns="drive4">
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver">
      <param name="port" value="/dev/drive4" />
      <param name="baud" value="115200" />
    </node>
  </group>

</launch>
